.container {
  width: 40%;
  height: 500px;
  text-align: center;
  border: black solid 1px;
  margin: auto;
  background-color: #efefef;
}

h1 {
  color: rgb(141, 1, 1);
}
.container p {
  text-align: left;
  padding-left: 100px;
}

#instruct {
}
